@use '../../assets/sass/var';

.table{
    border:1px solid oklch(var(--nc));
    &.table-custom{
        thead, tbody{
             tr {
                transition: all 1s;
                border-color: oklch(var(--nc));
                
                td, th{
                    .input-xs{
                        min-height: 32px;
                        max-height: 32px;
                        font-size: var.$text-sm;
                        line-height: 20px;
                        padding: 10px 6px;
                    }
                    &.accordion-icon{
                        img{
                            &.dropdown{
                                transform: rotate(180deg);  
                                transition: all .3s;
                                &.show{
                                    transform: rotate(0deg);  
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
